<h1 mat-dialog-title class="text-center">Actualizar Paciente</h1>
<div mat-dialog-content>  
  <form [formGroup]="userupdateform">
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Nombres</mat-label>
      <input matInput placeholder="Ingrese sus nombres" formControlName="name" required>
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Apellidos</mat-label>
      <input matInput placeholder="Ingrese sus apellidos" formControlName="lastname" required>
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Documento</mat-label> <!--Combo Box-->
      <mat-select formControlName="document">
        <div *ngFor="let type of types">
          <mat-option [value]="type">{{type}}</mat-option>
        </div>
      </mat-select>
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Numero de Documento</mat-label>
      <input matInput placeholder="Ingrese Numero de documento" formControlName="numberdocument" required>
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Cumpleaños</mat-label>
      <input matInput [matDatepicker]="picker" formControlName = "birthday" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Sexo</mat-label> <!--Combo Box-->
      <mat-select formControlName="gender">
        <mat-option value="M">M</mat-option>
        <mat-option value="F">F</mat-option>
      </mat-select>
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ingrese email" formControlName="email" required>
      <mat-error *ngIf="userupdateform.controls['email'].touched && userupdateform.controls['email'].hasError('required')">Complete este campo es requerido!</mat-error>
      <mat-error *ngIf="userupdateform.controls['email'].dirty && userupdateform.controls['email'].hasError('email')">Email invalido complete con un email!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Telefono</mat-label>
      <input matInput placeholder="Ingrese telefono" formControlName="phone" required>
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Ingrese nombre de usuario" formControlName="username" required>
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Contraseña</mat-label>
      <input matInput placeholder="Ingrese contraseña" formControlName="password" required>
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
    
    <div class="text-center">
      <button matDialogClose class="bg-[#15558D] text-white" mat-raised-button [disabled]="userupdateform.invalid" (click)="Update()">Actualizar</button>
    </div>  
  </form>
</div>
