.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}
.mat-column-dni {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  padding-left: 24px;
  text-align: center;
}
.mat-column-patient {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  padding-left: 24px;
  text-align: center;
}

.mat-column-date {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  padding-left: 24px;
  text-align: center;
}
.mat-column-status {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  padding-left: 24px;
  text-align: center;
}
.mat-column-doctor {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  padding-left: 24px;
  text-align: center;
}
.mat-column-button {
  
  
  padding-right: 24px;
  padding-left: 24px;
}