<mat-toolbar>
  
  <button (click)="ReturnHome()">
    <img src="../../assets/images/back-arrow-bluewhite.png" class="w-5 md:w-10 h-5 md:h-10">
  </button>
  <span class="pr-5"></span>
  <p class="text-sm md:text-[26px] text-[#15558D] ">Clinica de salud</p>

  <span class="flex-auto"></span>
  <p class="text-2xl md:text-[53px] flex justify-center">{{title}}</p>
  <span class="example-spacer"></span>

  <img src="../../assets/images/profile.png" class="w-50 h-10 ">
  <button>
    <img src="../../assets/images/options-arrow.png" class="w-50 h-10">
  </button>

</mat-toolbar>