<!DOCTYPE html>
<app-first-navbar></app-first-navbar>
<mat-divider class="bg-cyan-400"></mat-divider>    
<div class="bg-blue-100">
    <div class="bg-left bg-no-repeat" style="background-image: url('../../assets/images/Image-hospital1.png');">
    <div class="pt-10"></div>
    <table class="w-full">
          <mat-card class="w-2/6 ml-auto mr-5">
            <mat-card-title class="text-left">Regístrate Personal</mat-card-title>
            <form class="form text-left" [formGroup]="staffregisterform">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Nombres</mat-label>
              <input matInput placeholder="Ingrese sus nombres" formControlName="name" required [(ngModel)]="CreateStaffResource.name">
              <mat-error *ngIf="staffregisterform.controls['name'].dirty && staffregisterform.hasError('required') || staffregisterform.controls['name'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Apellidos</mat-label>
              <input matInput placeholder="Ingrese sus apellidos" formControlName="lastname" required [(ngModel)]="CreateStaffResource.lastname">
              <mat-error *ngIf="staffregisterform.controls['lastname'].dirty && staffregisterform.hasError('required') || staffregisterform.controls['lastname'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>DNI</mat-label>
              <input matInput placeholder="Ingrese sun DNI" formControlName="dni" required [(ngModel)]="CreateStaffResource.dni" minlength="8" maxlength="8">
              <mat-error *ngIf="staffregisterform.controls['dni'].touched && staffregisterform.controls['dni'].hasError('required')">Complete este campo es requerido!</mat-error>
              <mat-error *ngIf="!staffregisterform.controls['dni'].hasError('required')">Requiere un numero de dni minimo de 8 caracteres y maximo 8 caracteres</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Sexo</mat-label> <!--Combo Box-->
              <mat-select formControlName="gender" [(ngModel)]="CreateStaffResource.gender">
                <mat-option value="M">Masculino</mat-option>
                <mat-option value="F">Femenino</mat-option>
              </mat-select>
              <mat-error *ngIf="staffregisterform.controls['gender'].dirty && staffregisterform.hasError('required') || staffregisterform.controls['gender'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Ingrese email" formControlName="email" required [(ngModel)]="CreateStaffResource.email" maxlength="50">
              <mat-error *ngIf="staffregisterform.controls['email'].touched && staffregisterform.controls['email'].hasError('required')">Complete este campo es requerido!</mat-error>
              <mat-error *ngIf="staffregisterform.controls['email'].dirty && staffregisterform.controls['email'].hasError('email')">Email invalido complete con un email!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Telefono</mat-label>
              <input matInput placeholder="Ingrese telefono" formControlName="phone" required [(ngModel)]="CreateStaffResource.phone" maxlength="9">
              <mat-error *ngIf="staffregisterform.controls['phone'].dirty && staffregisterform.hasError('required') || staffregisterform.controls['phone'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Rol</mat-label>
              <mat-select formControlName="role" [(ngModel)]="rolany">
                <div *ngFor="let role of rolelist">
                  <mat-option [value]="GetRole(role)">{{role}}</mat-option>
                </div>
              </mat-select>
              <mat-error *ngIf="staffregisterform.controls['role'].dirty && staffregisterform.hasError('required') || staffregisterform.controls['role'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Usuario</mat-label>
              <input matInput placeholder="Ingrese nombre de usuario" formControlName="username" required [(ngModel)]="CreateStaffResource.username">
              <mat-error *ngIf="staffregisterform.controls['username'].dirty && staffregisterform.hasError('required') || staffregisterform.controls['username'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Ingrese contraseña" formControlName="password" required [(ngModel)]="CreateStaffResource.password" minlength="8" maxlength="20">
              <mat-error *ngIf="staffregisterform.controls['password'].touched && staffregisterform.controls['password'].hasError('required')">Complete este campo es requerido!</mat-error>
              <mat-error *ngIf="!staffregisterform.controls['password'].hasError('required')">Requiere una contraseña minimo de 8 caracteres</mat-error>
            </mat-form-field>
            
            <div class="text-center">
              <button class="bg-[#15558D] text-white" mat-raised-button (click)="RegisterMethod()" [disabled]="staffregisterform.invalid">Registrarse</button>
            </div>  
          </form>
          </mat-card>
    </table>
    <div class="pb-10"></div>
  </div>
</div>
