<header>
  <mat-toolbar class="bg-white">
    <button (click)="GoToAppointmentDoctor()">
      <img src="../../assets/images/back-arrow-2.png" class="w-10 h-10">
    </button>
    <span class="pr-5"></span>
    <h1 class="text-slate-800">Clinica de salud</h1>
    <span class="flex-auto"></span>
    <h1 class="text-slate-800">{{patientobject.name}}</h1>
    <div class="filed">
      <form [formGroup]="setstatfrom">
       <mat-form-field appearance="fill" >
         <mat-select formControlName="stat">
           <div *ngFor="let stat of status">
             <mat-option [value]="stat">{{stat}}</mat-option>
           </div>
         </mat-select>
       </mat-form-field>
       <button mat-raised-button (click)="cambiarstat()" color="primary"> Cambiar Estado de cita</button>
     </form> 
     </div>
    <span class="flex-auto"></span>
    <img src="../../assets/images/profile.png" class="w-10 h-10">
    <button>
      <img src="../../assets/images/options-arrow.png" class="w-20 h-12">
    </button>
    <div class="pr-5"></div>
</mat-toolbar>
</header>
<mat-divider class="bg-cyan-400"></mat-divider>
<body>
  <!--Datos del Paciente-->
  <div class="pt-10"></div>
      <div class="pl-10 pr-10">
        <mat-toolbar class="bg-[#15558D]  text-white">
          <div class="text-[26px] italic">
            Datos personales
          </div>
          <div class="flex-auto"></div>
          <div class="text-[26px] italic opacity-60">
            Ultima actualización: {{todaydate}}
          </div>
        </mat-toolbar>
      </div>
    <div class="pb-10"></div>
    <table class="ml-auto mr-auto">
    <tr>
      <th>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Nombres:</h1>
          <span class="pr-16"></span>
          <span class="pr-0.5"></span>
          <h1 class="pt-5 font-normal">{{patientobject.name}}</h1>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Apellidos:</h1>
          <span class="pr-16"></span>
          <span class="pr-0.5"></span>
          <h1 class="pt-5 font-normal">{{patientobject.lastname}}</h1>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Tipo de Doc:</h1>
          <span class="pr-12"></span>
          <h1 class="pt-5 font-normal">{{patientobject.documentType}}</h1>
        </div>
      </th>
      <div class="pr-40"></div>
      <th>
          <div class="inline-flex text-left">
            <div class="max-w-fit">
              <h1 class="pt-5">Número de Documento:</h1>
            </div>
            <span class="pr-10"></span>
            <h1 class="pt-8 font-normal">{{patientobject.documentNumber}}</h1>
          </div>
          <br>
          <div class="inline-flex w-full"> 
            <h1 class="pt-5">Sexo:</h1>
            <span class="pr-20"></span>
            <span class="pr-2"></span>
            <h1 class="pt-5 font-normal">{{patientobject.gender}}</h1>
          </div>
      </th>
      <div class="pr-40"></div>
      <th>
        <div class="inline-flex">
          <h1 class="pt-5">Altura (m):</h1>
          <span class="pr-5"></span>
          <form [formGroup]="patientrecordform">
            <mat-form-field appearance="outline">
              <mat-label>Su altura</mat-label>
              <input matInput formControlName="height" placeholder="Ingrese su altura" required [(ngModel)]="patientobject.height">
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
        <div>
          <button mat-raised-button color="primary" class="w-40" (click)="UpdatePatient(patientobject.id)" [disabled]="patientrecordform.invalid">Guardar</button>
        </div>
      </th>
    </tr>
    </table>
    <br>
    <!--Vigilancia-->
    <div class="pt-10"></div>
    <div class="pl-10 pr-10">
        <mat-toolbar class="bg-[#15558D] text-white">
          <div class="text-[26px] italic">
            Vigilancia
          </div>
          <div class="flex-auto"></div>
          <div class="text-[26px] italic opacity-60">
            Ultima actualización: {{todaydate}}
          </div>
      </mat-toolbar>
    </div>
    <div class="pb-10"></div>
    <table class="ml-auto mr-auto">
    <tr>
      <th>
        <h1>Nutrición</h1>
        <div class="pb-2"></div>
          <div class="inline-flex w-full">
            <h1 class="pt-5">Plan de calorías:</h1>
            <span class="pr-24"></span>
            <span class="pr-1"></span>
            <span class="pr-0.5"></span>
            <div *ngIf="surveillancepatient.planCalories">
              <h1 class="pt-5 font-normal">{{surveillancepatient.planCalories}}</h1>
            </div>
            <div *ngIf="surveillancepatient.planCalories == null">
              <h1 class="pt-5 font-normal"></h1>
            </div>
          </div>
          <br>
          <div class="inline-flex w-full">
            <h1 class="pt-5">Consumo de calorías:</h1>
            <span class="pr-16"></span>
            <div *ngIf="surveillancepatient.consumedCalories">
              <h1 class="pt-5 font-normal">{{surveillancepatient.consumedCalories}}</h1>
            </div>
            <div *ngIf="surveillancepatient.consumedCalories == null">
              <h1 class="pt-5 font-normal"></h1>
            </div>
          </div>
          <br>
          <div class="inline-flex w-full">
            <h1 class="pt-5">Apetito:</h1>
            <span class="pr-40"></span>
            <span class="pr-1"></span>
            <div *ngIf="surveillancepatient.appetite">
              <h1 class="pt-5 font-normal">{{surveillancepatient.appetite}}</h1>
            </div>
            <div *ngIf="surveillancepatient.appetite == null">
              <h1 class="pt-5 font-normal"></h1>
            </div>
          </div>
          <br>
          <div class="inline-flex w-full">
            <h1 class="pt-5">IMC:</h1>
            <span class="pr-40"></span>
            <span class="pr-6"></span>
            <span class="pr-0.5"></span>
            <div *ngIf="surveillancepatient.imc">
              <h1 class="pt-5 font-normal">{{surveillancepatient.imc}}</h1>
            </div>
            <div *ngIf="surveillancepatient.imc == null">
              <h1 class="pt-5 font-normal"></h1>
            </div>
          </div>
          <br>
          <div class="inline-flex w-full">
            <h1 class="pt-5">Peso:</h1>
            <span class="pr-40"></span>
            <span class="pr-4"></span>
            <span class="pr-0.5"></span>
            <div *ngIf="surveillancepatient.weight">
              <h1 class="pt-5 font-normal">{{surveillancepatient.weight}} kilos</h1>
            </div>
            <div *ngIf="surveillancepatient.weight == null">
              <h1 class="pt-5 font-normal"></h1>
            </div>
          </div>
        <div class="pb-32"></div>
        <h1>Otros</h1>
        <div class="pb-2"></div>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Dolores:</h1>
          <span class="pr-16"></span>
          <span class="pr-3"></span>
          <div class="max-w-fit">
          <div *ngIf="surveillancepatient.pain">
            <h1 class="pt-5 font-normal">{{surveillancepatient.pain}}</h1>
          </div>
          <div *ngIf="surveillancepatient.pain == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
          </div>  
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Síntomas:</h1>
          <span class="pr-16"></span>
          <div class="max-w-fit">
          <div *ngIf="surveillancepatient.otherSymptoms">
            <h1 class="pt-5 font-normal">{{surveillancepatient.otherSymptoms}}</h1>
          </div>
          <div *ngIf="surveillancepatient.otherSymptoms == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        </div>
      </th>
      <div class="pr-60"></div>
      <th>
        <h1>Análisis de sangre</h1>
        <div class="pb-2"></div>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Hemoglobina:</h1>
          <span class="pr-16"></span>
          <span class="pr-1"></span>
          <div *ngIf="surveillancepatient.hemoglobin">
            <h1 class="pt-5 font-normal">{{surveillancepatient.hemoglobin}} g/dL</h1>
          </div>
          <div *ngIf="surveillancepatient.hemoglobin == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Linfocitos:</h1>
          <span class="pr-20"></span>
          <span class="pr-3"></span>
          <div *ngIf="surveillancepatient.lymphocytes">
            <h1 class="pt-5 font-normal">{{surveillancepatient.lymphocytes}} %</h1>
          </div>
          <div *ngIf="surveillancepatient.lymphocytes == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Segmentados:</h1>
          <span class="pr-16"></span>
          <div *ngIf="surveillancepatient.segmented">
            <h1 class="pt-5 font-normal">{{surveillancepatient.segmented}} %</h1>
          </div>
          <div *ngIf="surveillancepatient.segmented == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Monocitos:</h1>
          <span class="pr-20"></span>
          <span class="pr-2"></span>
          <div *ngIf="surveillancepatient.monocytes">
            <h1 class="pt-5 font-normal">{{surveillancepatient.monocytes}} /L</h1>
          </div>
          <div *ngIf="surveillancepatient.monocytes == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">VCM:</h1>
          <span class="pr-32"></span>
          <span class="pr-0.5"></span>
          <div *ngIf="surveillancepatient.mvc">
            <h1 class="pt-5 font-normal">{{surveillancepatient.mvc}} fl</h1>
          </div>
          <div *ngIf="surveillancepatient.mvc == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">HCM:</h1>
          <span class="pr-32"></span>
          <div *ngIf="surveillancepatient.mch">
            <h1 class="pt-5 font-normal">{{surveillancepatient.mch}} pg</h1>
          </div>
          <div *ngIf="surveillancepatient.mch == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Leucocitos:</h1>
          <span class="pr-20"></span>
          <span class="pr-1"></span>
          <div *ngIf="surveillancepatient.leukocytes">
            <h1 class="pt-5 font-normal">{{surveillancepatient.leukocytes}}</h1>
          </div>
          <div *ngIf="surveillancepatient.leukocytes == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Hematies:</h1>
          <span class="pr-20"></span>
          <span class="pr-3"></span>
          <span class="pr-0.5"></span>
          <div *ngIf="surveillancepatient.erythrocytes">
            <h1 class="pt-5 font-normal">{{surveillancepatient.erythrocytes}} células/mcL</h1>
          </div>
          <div *ngIf="surveillancepatient.erythrocytes == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Glucosa:</h1>
          <span class="pr-24"></span>
          <span class="pr-2"></span>
          <div *ngIf="surveillancepatient.glucose">
            <h1 class="pt-5 font-normal">{{surveillancepatient.glucose}} mg/dl</h1>
          </div>
          <div *ngIf="surveillancepatient.glucose == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Colesterol:</h1>
          <span class="pr-20"></span>
          <span class="pr-2"></span>
          <span class="pr-0.5"></span>
          <div *ngIf="surveillancepatient.cholesterol">
            <h1 class="pt-5 font-normal">{{surveillancepatient.cholesterol}} mg/dL</h1>
          </div>
          <div *ngIf="surveillancepatient.cholesterol == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Triglicéridos:</h1>
          <span class="pr-20"></span>
          <span class="pr-2"></span>
          <span class="pr-0.5"></span>
          <div *ngIf="surveillancepatient.triglycerides">
            <h1 class="pt-5 font-normal">{{surveillancepatient.triglycerides}} células/mcL</h1>
          </div>
          <div *ngIf="surveillancepatient.triglycerides == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
      </th>
      <div class="pr-60"></div>
      <th>
        <h1>Análisis de orina</h1>
        <div class="pb-2"></div>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Densidad de orina:</h1>
          <span class="pr-10"></span>
          <div *ngIf="surveillancepatient.density">
            <h1 class="pt-5 font-normal">{{surveillancepatient.density}}</h1>
          </div>
          <div *ngIf="surveillancepatient.density == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">PH:</h1>
          <span class="pr-36"></span>
          <span class="pr-1"></span>
          <div *ngIf="surveillancepatient.ph">
            <h1 class="pt-5 font-normal">{{surveillancepatient.ph}}</h1>
          </div>
          <div *ngIf="surveillancepatient.ph == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Proteínas:</h1>
          <span class="pr-24"></span>
          <span class="pr-1"></span>
          <span class="pr-0.5"></span>
          <div *ngIf="surveillancepatient.protein">
            <h1 class="pt-5 font-normal">{{surveillancepatient.protein}} mg/dL</h1>
          </div>
          <div *ngIf="surveillancepatient.protein == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Cetonas:</h1>
          <span class="pr-28"></span>
          <div *ngIf="surveillancepatient.ketone">
            <h1 class="pt-5 font-normal">{{surveillancepatient.ketone}}</h1>
          </div>
          <div *ngIf="surveillancepatient.ketone == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Urobilinogeno:</h1>
          <span class="pr-16"></span>
          <span class="pr-2"></span>
          <div *ngIf="surveillancepatient.urobilinogen">
            <h1 class="pt-5 font-normal">{{surveillancepatient.urobilinogen}} mg/dl</h1>
          </div>
          <div *ngIf="surveillancepatient.urobilinogen == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Bilirrubina:</h1>
          <span class="pr-24"></span>
          <span class="pr-0.5"></span>
          <div *ngIf="surveillancepatient.bilirubin">
            <h1 class="pt-5 font-normal">{{surveillancepatient.bilirubin}}</h1>
          </div>
          <div *ngIf="surveillancepatient.bilirubin == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Nitrito:</h1>
          <span class="pr-32"></span>
          <div *ngIf="surveillancepatient.nitrite">
            <h1 class="pt-5 font-normal">{{surveillancepatient.nitrite}}</h1>
          </div>
          <div *ngIf="surveillancepatient.nitrite == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Cristales:</h1>
          <span class="pr-24"></span>
          <span class="pr-3"></span>
          <span class="pr-0.5"></span>
          <div *ngIf="surveillancepatient.crystals">
            <h1 class="pt-5 font-normal">{{surveillancepatient.crystals}}</h1>
          </div>
          <div *ngIf="surveillancepatient.crystals == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Azucar:</h1>
          <span class="pr-28"></span>
          <span class="pr-3"></span>
          <div *ngIf="surveillancepatient.sugar">
            <h1 class="pt-5 font-normal">{{surveillancepatient.sugar}} mmol/l</h1>
          </div>
          <div *ngIf="surveillancepatient.sugar == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Aspecto de la orina:</h1>
          <span class="pr-9"></span>
          <div *ngIf="surveillancepatient.urineAppearance">
            <h1 class="pt-5 font-normal">{{surveillancepatient.urineAppearance}}</h1>
          </div>
          <div *ngIf="surveillancepatient.urineAppearance == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Color de la orina:</h1>
          <span class="pr-14"></span>
          <span class="pr-0.5"></span>
          <div *ngIf="surveillancepatient.urineColor">
            <h1 class="pt-5 font-normal">{{surveillancepatient.urineColor}}</h1>
          </div>
          <div *ngIf="surveillancepatient.urineColor == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Urea:</h1>
          <span class="pr-32"></span>
          <span class="pr-3"></span>
          <span class="pr-0.5"></span>
          <div *ngIf="surveillancepatient.urea">
            <h1 class="pt-5 font-normal">{{surveillancepatient.urea}} mg/dL</h1>
          </div>
          <div *ngIf="surveillancepatient.urea == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pt-5">Creatinina:</h1>
          <span class="pr-24"></span>
          <span class="pr-2"></span>
          <div *ngIf="surveillancepatient.creatinine">
            <h1 class="pt-5 font-normal">{{surveillancepatient.creatinine}} mg/dL</h1>
          </div>
          <div *ngIf="surveillancepatient.creatinine == null">
            <h1 class="pt-5 font-normal"></h1>
          </div>
        </div>
      </th>
    </tr>
    </table>
    <br>
    <!--Antecedentes-->
    <div class="pt-10"></div>
      <div class="pl-10 pr-10">
        <mat-toolbar class="bg-[#15558D] italic text-[26px] text-white">
          Antecedentes
        </mat-toolbar>
      </div>
    <div class="pb-10"></div>
    <table class="ml-auto mr-auto w-11/12">
      <tr>
        <th>
          <div class="inline-flex">
            <h1 class="pt-5 font-bold">Enfermedad:</h1>
            <span class="pr-10"></span>
            <form [formGroup]="backrecordform">
              <mat-form-field appearance="outline" class="w-96">
                <mat-label>Ingrese enfermedad</mat-label>
                <input matInput formControlName="disease" placeholder="Ingrese su enfermedad" required [(ngModel)]="ancientpatient.illness">
                <mat-error>Es requerido este campo!</mat-error>
              </mat-form-field>
            </form>
          </div>
        </th>
        <div class="pr-5"></div>
        <th>
          <div class="inline-flex">
            <h1 class="pt-5 font-bold">Descripción:</h1>
            <span class="pr-10"></span>
            <form [formGroup]="backrecordform">
              <mat-form-field appearance="outline" class="w-96">
                <mat-label>Ingrese descripción</mat-label>
                <textarea matInput formControlName="description" placeholder="Ingrese su descripción" required [(ngModel)]="ancientpatient.description"></textarea>
                <mat-error>Es requerido este campo!</mat-error>
              </mat-form-field>
            </form>
          </div>
        </th>
        <div class="pr-5"></div>
        <th>
          <div class="inline-flex">
            <h1 class="pt-5 font-bold">Fecha:</h1>
            <span class="pr-10"></span>
            <form [formGroup]="backrecordform">
              <mat-form-field appearance="outline" class="w-96">
                <mat-label>Ingrese fecha</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Ingrese su fecha" required [(ngModel)]="ancientpatient.date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>Es requerido este campo!</mat-error>
              </mat-form-field>
            </form>
          </div>
        </th>
      </tr>  
    </table>
    <div class="pb-10"></div>
      <table mat-table [dataSource]="dataSourceancient" class="w-11/12 ml-auto mr-auto border-2">

        <ng-container matColumnDef="id">
          
          <th mat-header-cell *matHeaderCellDef> <h1 class="text-center font-bold">Código</h1> </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef><h1 class="text-center font-bold">Descripción</h1> </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
        <ng-container matColumnDef="diseasetype">
          <th mat-header-cell *matHeaderCellDef> <h1 class="text-center font-bold">Tipo de Enfermedad</h1> </th>
          <td mat-cell *matCellDef="let element"> {{element.illness}} </td>
        </ng-container>
      
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> <h1 class="text-center font-bold">Fecha Dx</h1> </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnsancient" class="bg-blue-100"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsancient" class="text-center"></tr>
      
      </table>
    <br>
    <div class="text-right pr-20">
      <button mat-raised-button color="primary" class="w-40" [disabled]="backrecordform.invalid" (click)="SaveAncient(patientobject.id)">Guardar</button>
    </div>
    <!--Diagnostico-->
    <div class="pt-10"></div>
      <div class="pl-10 pr-10">
        <mat-toolbar class="bg-[#15558D] italic text-[26px] text-white">
          Diagnóstico
        </mat-toolbar>
      </div>
    <div class="pb-10"></div>
    <table class="ml-auto mr-auto w-11/12">
    <tr>
      <th>
        <div class="inline-flex">
          <h1 class="pt-5">Fecha inicio:</h1>
          <span class="pr-10"></span>
          <form [formGroup]="diagnosticform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>fecha de inicio</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="initdate" placeholder="Ingrese su fecha de inicio" required [(ngModel)]="patientdiagnostic.startDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
      </th>
      <th>
        <div class="inline-flex">
          <h1 class="pt-5">Fecha fin:</h1>
          <span class="pr-10"></span>
          <form [formGroup]="diagnosticform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>fecha de fin</mat-label>
              <input matInput [matDatepicker]="picker3" formControlName="finishdate" placeholder="Ingrese su fecha de fin" [(ngModel)]="patientdiagnostic.endDate">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
      </th>
    </tr>
    </table>
    <br>
    <br>
    <table class="ml-auto mr-auto w-11/12">
      <tr>
        <th>
          <div class="inline-flex">
            <h1 class="pt-5">Tipo de Diagnóstico:</h1>
            <span class="pr-10"></span>
            <form [formGroup]="diagnosticform">
              <mat-form-field appearance="outline" class="w-96">
                <mat-label>Su tipo</mat-label>
                <mat-select formControlName="typediagnostic" required [(ngModel)]="diagnosis.name" (selectionChange)="getDiagnosticbyName($event.value)">
                  <mat-option *ngFor="let diagnostictype of diagnostictypes" [value]="diagnostictype.name">{{diagnostictype.name}}</mat-option>
                </mat-select>
                <mat-error>Es requerido este campo!</mat-error>
              </mat-form-field>
            </form>
          </div>
        </th>
      </tr>
    </table>
    <table class="ml-auto mr-auto w-11/12">
      <tr>
        <th class="text-left w-full">
          <h1>Descripción: {{diagnosis.description}}</h1>
        </th>
      </tr>
    </table>
    <div class="pb-10"></div>
      <table mat-table [dataSource]="dataSourcepatientdiagnostic" class="w-11/12 ml-auto mr-auto border-2">

        <ng-container matColumnDef="code">
          
          <th mat-header-cell *matHeaderCellDef> <h1 class="text-center font-bold">Código</h1> </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef><h1 class="text-center font-bold">Descripción</h1> </th>
          <td mat-cell *matCellDef="let element"> {{element.diagnosis.description}} </td>
        </ng-container>
      
        <ng-container matColumnDef="diagnostic">
          <th mat-header-cell *matHeaderCellDef> <h1 class="text-center font-bold">Tipo de Diagnóstico</h1> </th>
          <td mat-cell *matCellDef="let element"> {{element.diagnosis.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="initdate">
          <th mat-header-cell *matHeaderCellDef> <h1 class="text-center font-bold">Fecha inicio</h1> </th>
          <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
        </ng-container>

        <ng-container matColumnDef="finishdate">
          <th mat-header-cell *matHeaderCellDef> <h1 class="text-center font-bold">Fecha fin</h1> </th>
          <td mat-cell *matCellDef="let element"> {{element.endDate}}</td>
        </ng-container>
        
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> <h1 class="text-center font-bold"></h1> </th>
          <td mat-cell *matCellDef="let element"> 
            <button class="h-12" (click)="GotoUpdateDiagnostic(element)"> 
              <img src="../../../assets/images/edit-record.png" class="w-10 h-10">
            </button> 
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsdiagnostic" class="bg-blue-100"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsdiagnostic" class="text-center"></tr>
      
      </table>
    <br>
      <div class="text-right pr-20">
        <button mat-raised-button color="primary" class="w-40" [disabled]="diagnosticform.invalid" (click)="SaveDiagnostic(patientobject.id)">Guardar</button>
      </div>
    <!--Tratamiento-->
    <div class="pt-10"></div>
      <div class="pl-10 pr-10">
        <mat-toolbar class="bg-[#15558D] italic text-[26px] text-white">
          Tratamiento
        </mat-toolbar>
      </div>
    <div class="pt-10"></div>
    <table class="ml-auto mr-auto w-full">
    <tr>
      <th class=" pl-14">
        <div class="inline-flex align-top">
          <h1 class="pt-5">Fecha inicio:</h1>
          <span class="pr-14"></span>
          <form [formGroup]="treatmentform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>La fecha de inicio</mat-label>
              <input matInput [matDatepicker]="picker5" formControlName="initdate" placeholder="Ingrese su fecha de inicio" required [(ngModel)]="patienttreatment.startDate">
              <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
              <mat-datepicker #picker5></mat-datepicker>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
        <br>
        <div class="inline-flex">
          <h1 class="pt-5">Fecha fin:</h1>
          <span class="pr-14"></span>
          <span class="pr-5"></span>
          <form [formGroup]="treatmentform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>La fecha de fin</mat-label>
              <input matInput [matDatepicker]="picker6" formControlName="finishdate" placeholder="Ingrese su fecha de fin" [(ngModel)]="patienttreatment.endDate">
              <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
              <mat-datepicker #picker6></mat-datepicker>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
        <div class="pb-1"></div>
        <div class="inline-flex">
          <h1 class="pt-5"># de dosis:</h1>
          <span class="pr-16"></span>
          <form [formGroup]="treatmentform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>Su cantidad de dosis</mat-label>
              <input matInput type="number" formControlName="doses" placeholder="Ingrese su número de dosis" required [(ngModel)]="patienttreatment.dose">
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
      </th>
      <th>
        <div class="inline-flex">
          <h1 class="pt-5">Tipo:</h1>
          <span class="pr-28"></span>
          <form [formGroup]="treatmentform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>Su tipo</mat-label>
              <mat-select formControlName="type" required [(ngModel)]="treatment.name" (selectionChange)="getTreatmentbyName($event.value)">
                  <mat-option *ngFor="let treatmenttype of treatmenttypes" [value]="treatmenttype.name">{{treatmenttype.name}}</mat-option>
              </mat-select>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
        <br>
        <div class="inline-flex w-full">
          <h1 class="pb-4 pl-48">Descripción:</h1>
          <div class="pr-20"></div>
            {{treatment.description}}
        </div>
        <div class="pb-1"></div>
        <div class="inline-flex">
          <h1 class="pt-5">Medicamento:</h1>
          <span class="pr-16"></span>
          <form [formGroup]="treatmentform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>Su medicamento</mat-label>
              <mat-select formControlName="medicine" required [(ngModel)]="patientmedicine.name">
                <mat-option *ngFor="let medicinetype of medicinetypes" [value]="medicinetype.name">{{medicinetype.name}}</mat-option>
              </mat-select>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
      </th>
    </tr>
    </table>
    <div class="pb-10"></div>
      <table mat-table [dataSource]="dataSourcepatienttreatment" class="w-11/12 ml-auto mr-auto border-2">

        <ng-container matColumnDef="code">
          
          <th mat-header-cell *matHeaderCellDef> <h1 class="text-center font-bold">Código</h1> </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="typetreatment">
          <th mat-header-cell *matHeaderCellDef><h1 class="text-center font-bold">Tipo de tratamiento</h1> </th>
          <td mat-cell *matCellDef="let element"> {{element.treatment.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="medicine">
          <th mat-header-cell *matHeaderCellDef> <h1 class="text-center font-bold">Medicamento</h1> </th>
          <td mat-cell *matCellDef="let element"> {{element.medicine.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="doses">
          <th mat-header-cell *matHeaderCellDef> <h1 class="text-center font-bold"># de dosis</h1> </th>
          <td mat-cell *matCellDef="let element"> {{element.dose}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> <h1 class="text-center font-bold">Descripción</h1></th>
          <td mat-cell *matCellDef="let element"> {{element.treatment.description}}</td>
        </ng-container>
        
        <ng-container matColumnDef="initdate">
          <th mat-header-cell *matHeaderCellDef> <h1 class="text-center font-bold">Fecha inicio</h1> </th>
          <td mat-cell *matCellDef="let element"> {{element.startDate}}</td>
        </ng-container>
        
        <ng-container matColumnDef="finishdate">
          <th mat-header-cell *matHeaderCellDef> <h1 class="text-center font-bold">Fecha fin</h1> </th>
          <td mat-cell *matCellDef="let element"> {{element.endDate}}</td>
        </ng-container>

        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> <h1 class="text-center font-bold"></h1> </th>
          <td mat-cell *matCellDef="let element"> 
            <button class="h-12" (click)="GotoUpdateTreatment(element)"> 
              <img src="../../../assets/images/edit-record.png" class="w-10 h-10">
            </button> 
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnstreatment" class="bg-blue-100"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnstreatment" class="text-center"></tr>
      
      </table>
    <br>
      <div class="text-right pr-20">
        <button mat-raised-button color="primary" class="w-40" [disabled]="treatmentform.invalid" (click)="SaveTreatment(patientobject.id)">Guardar</button>
      </div>
    <br>
</body>