<header>
  <mat-toolbar class="bg-white">
    <button routerLink="/medical-records">
      <img src="../../assets/images/back-arrow-2.png" class="w-10 h-10">
    </button>
    <span class="pr-5"></span>
    <h1 class="text-slate-800">Clinica de salud</h1>
    <span class="flex-auto"></span>
    <h1 class="text-slate-800">NUEVA HISTORIA</h1>
    <span class="flex-auto"></span>
    <img src="../../assets/images/profile.png" class="w-10 h-10">
    <button>
      <img src="../../assets/images/options-arrow.png" class="w-20 h-12">
    </button>
    <div class="pr-5"></div>
</mat-toolbar>
</header>
<mat-divider class="bg-cyan-400"></mat-divider>
<body>
  <!--Datos del Paciente-->
  <div class="pt-10"></div>
    <button class="w-full" (click)="DisplayInfoPatient()">
      <div class="pl-10 pr-10">
        <mat-toolbar color="primary">
          <h1>Datos del paciente</h1>
          <div class="flex-auto"></div>
          <h1>Servicio</h1>
          <div class="pr-10"></div>
          <h1>NEFROLOGÍA</h1>
          <div class="pr-10"></div>
          <img src="../../../assets/images/arrrow-down.png" class="w-10 h-5">
          <div class="pr-20"></div>
      </mat-toolbar>
    </div>
    </button>
    <div *ngIf="displayinfo == true">
    <div class="pb-20"></div>
    <table class="ml-auto mr-auto w-11/12">
    <tr>
      <th>
        <div class="inline-flex">
          <h1 class="pt-5">Nombre</h1>
          <span class="pr-10"></span>
          <form [formGroup]="patientrecordform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>Tu nombre</mat-label>
              <input matInput formControlName="name" placeholder="Ingrese su nombre" required>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
        <br>
        <div class="inline-flex">
          <h1 class="pt-5">Apellido</h1>
          <span class="pr-10"></span>
          <form [formGroup]="patientrecordform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>Tu apellido</mat-label>
              <input matInput formControlName="lastname" placeholder="Ingrese su apellido" required>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
        <br>
        <div class="inline-flex">
          <h1 class="pt-5">Correo</h1>
          <span class="pr-12"></span>
          <form [formGroup]="patientrecordform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>Tu correo</mat-label>
              <input matInput formControlName="email" placeholder="Ingrese su correo" required>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
      </th>
      <th class="align-top">
        <div class="inline-flex">
          <h1 class="pt-5">Documento Nacional de Identidad</h1>
          <span class="pr-10"></span>
          <form [formGroup]="patientrecordform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>Tu DNI</mat-label>
              <input matInput formControlName="dni" placeholder="Ingrese su DNI" required>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
        <br>
        <div class="inline-flex">
          <h1 class="pt-5">Teléfono de contacto</h1>
          <span class="pr-32"></span>
          <form [formGroup]="patientrecordform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>Tu teléfono</mat-label>
              <input matInput formControlName="phone" placeholder="Ingrese su teléfono" required>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
      </th>
    </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
      <div class="text-center">
        <button mat-raised-button color="primary" class="w-40" (click)="RegisterMethod()" [disabled]="patientrecordform.invalid">Crear paciente</button>
      </div>
    </div>
    <!--Antecedentes-->
    <div class="pt-10"></div>
    <button class="w-full" (click)="DisplayBackrecords()">
      <div class="pl-10 pr-10">
        <mat-toolbar color="primary">
          <h1>Antecedentes</h1>
          <div class="flex-auto"></div>
          <div class="pr-10"></div>
          <img src="../../../assets/images/arrrow-down.png" class="w-10 h-5">
          <div class="pr-20"></div>
      </mat-toolbar>
    </div>
    </button>
    <div *ngIf="displayback == true">
    <div class="pb-20"></div>
    <table class="ml-auto mr-auto w-11/12">
      <tr>
        <div class="inline-flex">
          <h1 class="pt-5 font-bold">Buscar Diagnóstico:</h1>
          <span class="pr-10"></span>
          <form [formGroup]="backrecordform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>Tu diagnóstico</mat-label>
              <input matInput formControlName="diagnostic" placeholder="Ingrese su diagnóstico" required>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
      </tr>  
      <br>
      <tr>
        <table class="w-full border-2">
          <tr>
            <th class="border-2">
              <div class="pb-3"></div>
              <h1>Código</h1>
              <div class="pb-3"></div>
              <mat-divider></mat-divider>
              <div class="pb-3"></div>
              <h2 class="font-normal">B12</h2>
              <div class="pb-3"></div>
              <mat-divider></mat-divider>
              <div class="pb-3"></div>
              <h2 class="font-normal">B23</h2>
              <div class="pb-3"></div>
              <mat-divider></mat-divider>
              <div class="pb-3"></div>
              <h2 class="font-normal">A34</h2>
              <div class="pb-3"></div>
            </th>
            <th class="border-2">
              <h1>Descripción</h1>
              <div class="pb-3"></div>
              <mat-divider></mat-divider>
              <div class="pb-3"></div>
              <h2 class="font-normal">Hipertensión arterial</h2>
              <div class="pb-3"></div>
              <mat-divider></mat-divider>
              <div class="pb-3"></div>
              <h2 class="font-normal">Diabetes Mellitus</h2>
              <div class="pb-3"></div>
              <mat-divider></mat-divider>
              <div class="pb-3"></div>
              <h2 class="font-normal">Obesidad mórbida</h2>
            </th>
            <th class="border-2">
              <h1>Tipo enfermedad</h1>
              <div class="pb-3"></div>
              <mat-divider></mat-divider>
              <div class="pb-3"></div>
              <h2 class="font-normal">Accord</h2>
              <div class="pb-3"></div>
              <mat-divider></mat-divider>
              <div class="pb-3"></div>
              <h2 class="font-normal">Camry</h2>
              <div class="pb-3"></div>
              <mat-divider></mat-divider>
              <div class="pb-3"></div>
              <h2 class="font-normal">Elantra</h2>
            </th>
            <th class="border-2">
              <h1>Fecha Dx</h1>
              <div class="pb-3"></div>
              <mat-divider></mat-divider>
              <div class="pb-3"></div>
              <h2 class="font-normal">13/04/2013</h2>
              <div class="pb-3"></div>
              <mat-divider></mat-divider>
              <div class="pb-3"></div>
              <h2 class="font-normal">13/04/2010</h2>
              <div class="pb-3"></div>
              <mat-divider></mat-divider>
              <div class="pb-3"></div>
              <h2 class="font-normal">13/04/2018</h2>
            </th>
            <th class="align-top border-2">
              <div class="pb-3"></div>
              <h1>Observación</h1>
              <div class="pb-3"></div>
              <mat-divider></mat-divider>
              <div class="pb-6"></div>
              <div class="pb-6"></div>
              <mat-divider></mat-divider>
              <div class="pb-6"></div>
              <div class="pb-6"></div>
              <mat-divider></mat-divider>
            </th>
          </tr>
        </table>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
      <div class="text-right pr-20">
        <button mat-raised-button color="primary" class="w-40" [disabled]="backrecordform.invalid" (click)="SaveAncient()">Guardar</button>
      </div>
    </div>
    <!--Manejo Clinico-->
    <div class="pt-10"></div>
    <button class="w-full" (click)="DisplayClinicMethod()">
      <div class="pl-10 pr-10">
        <mat-toolbar color="primary">
          <h1>Manejo clinico</h1>
          <div class="flex-auto"></div>
          <div class="pr-10"></div>
          <img src="../../../assets/images/arrrow-down.png" class="w-10 h-5">
          <div class="pr-20"></div>
      </mat-toolbar>
    </div>
    </button>
    <div *ngIf="displayclinic == true">
    <div class="pb-10"></div>
    <div class="pl-14 pr-14">
      <h1 class="font-bold">Examen físico</h1>
      <mat-divider class="bg-cyan-400"></mat-divider>
    </div>
    <div class="pb-5"></div>
    <table class="ml-auto mr-auto w-11/12">
    <tr>
      <th>
        <div class="inline-flex">
          <h1 class="pt-5">Peso</h1>
          <span class="pr-10"></span>
          <form [formGroup]="clinicform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>Tu peso</mat-label>
              <input matInput formControlName="weight" placeholder="Ingrese su peso" required>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
      </th>
      <th>
        <div class="inline-flex">
          <h1 class="pt-5">Talla</h1>
          <span class="pr-10"></span>
          <form [formGroup]="clinicform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>Tu talla</mat-label>
              <input matInput formControlName="height" placeholder="Ingrese su talla" required>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
      </th>
      <th>
        <div class="inline-flex">
          <h1 class="pt-5">IMC</h1>
          <span class="pr-12"></span>
          <form [formGroup]="clinicform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>Tu IMC</mat-label>
              <input matInput formControlName="imc" placeholder="Ingrese su IMC" required>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
      </th>
    </tr>
    </table>
    <br>
    <div class="pl-14 pr-14">
      <h1 class="font-bold">Definición diagnóstica</h1>
      <mat-divider class="bg-cyan-400"></mat-divider>
    </div>
    <div class="pb-5"></div>
    <table class="ml-auto mr-auto w-11/12">
      <tr>
        <th>
          <div class="text-left">
            <h1>Estadío ERC</h1>
            <div class="pb-5"></div>
            <form [formGroup]="clinicform">
              <mat-form-field appearance="outline">
                <mat-label>Ingrese su ERC</mat-label>
                <mat-select formControlName="erc" required>
                  <mat-option value="uno">ERC nivel 1</mat-option>
                  <mat-option value="dos">ERC nivel 2</mat-option>
                  <mat-option value="tres">ERC nivel 3</mat-option>
                </mat-select>
                <mat-error>Este campo es requerido!</mat-error>
              </mat-form-field>
            </form>
          </div>
        </th>
        <div class="pr-96"></div>
        <th class="align-top">
          <div class="text-left">
            <h1>Tipo de Diagnóstico</h1>
            <div class="pb-5"></div>
            <div class="inline-flex">
              <mat-checkbox class="font-normal">Presuntivo</mat-checkbox>
              <div class="pr-40"></div>
              <mat-checkbox class="font-normal">Repetitivo</mat-checkbox>  
            </div>
            <br>
            <mat-checkbox class="font-normal">Dirruptivo</mat-checkbox>
          </div>
        </th>
      </tr>
    </table>
    <table class="ml-auto mr-auto w-11/12">
      <tr>
        <th class="text-left w-full">
          <h1>Indicación</h1>
          <br>
          <form [formGroup]="clinicform">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Ingrese aqui su mensaje de indicación</mat-label>
              <textarea matInput formControlName="indicationtext" required></textarea>
              <mat-error>Este campo es requerido!</mat-error>
            </mat-form-field>
          </form>
        </th>
      </tr>
    </table>
    <br>
      <div class="text-right pr-20">
        <button mat-raised-button color="primary" class="w-40" [disabled]="clinicform.invalid" (click)="SaveClinicManagement()">Guardar</button>
      </div>
    </div>
    <!--Tratamiento-->
    <div class="pt-10"></div>
    <button class="w-full" (click)="DisplayTreatmentMethod()">
      <div class="pl-10 pr-10">
        <mat-toolbar color="primary">
          <h1>Tratamiento</h1>
          <div class="flex-auto"></div>
          <div class="pr-10"></div>
          <img src="../../../assets/images/arrrow-down.png" class="w-10 h-5">
          <div class="pr-20"></div>
      </mat-toolbar>
    </div>
    </button>
    <div *ngIf="displaytreatment == true">
    <div class="pb-10"></div>
    <div class="pl-14 pr-14">
      <h1 class="font-bold">Registrar tratamiento</h1>
      <mat-divider class="bg-cyan-400"></mat-divider>
    </div>
    <div class="pt-5"></div>
    <table class="ml-auto mr-auto w-full">
    <tr>
      <th class="text-left pl-14">
        <div class="inline-flex">
          <h1 class="pt-5">Medicamento</h1>
          <span class="pr-10"></span>
          <form [formGroup]="treatmentform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>Tu medicamento</mat-label>
              <input matInput formControlName="medication" placeholder="Ingrese el nombre del medicamento" required>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
        <br>
        <div class="inline-flex">
          <h1 class="pt-5"># por día</h1>
          <span class="pr-14"></span>
          <span class="pr-5"></span>
          <form [formGroup]="treatmentform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>Tu número de dosis por dia</mat-label>
              <input matInput formControlName="doses" placeholder="Ingrese su número de dosis por dia" required>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
        <br>
        <div class="inline-flex">
          <h1 class="pt-5">Indicación</h1>
          <span class="pr-16"></span>
          <form [formGroup]="treatmentform">
            <mat-form-field appearance="outline" class="w-96">
              <mat-label>Tu indicación</mat-label>
              <input matInput formControlName="indication" placeholder="Ingrese su indicación" required>
              <mat-error>Es requerido este campo!</mat-error>
            </mat-form-field>
          </form>
        </div>
      </th>
    </tr>
    </table>
    <br>
      <div class="text-right pr-40">
        <button mat-raised-button color="primary" class="w-40" [disabled]="treatmentform.invalid" (click)="SaveTreatment()">Guardar</button>
      </div>
    <br>
    <br>
    <table class="mr-auto ml-auto w-11/12 border-2">
      <tr>
        <th class="border-2">
          <div class="pb-3"></div>
          <h1>#</h1>
          <div class="pb-3"></div>
          <mat-divider></mat-divider>
          <div class="pb-3"></div>
          <h2 class="font-normal">1</h2>
          <div class="pb-3"></div>
          <mat-divider></mat-divider>
          <div class="pb-3"></div>
          <h2 class="font-normal">3</h2>
          <div class="pb-3"></div>
          <mat-divider></mat-divider>
          <div class="pb-3"></div>
          <h2 class="font-normal">3</h2>
          <div class="pb-3"></div>
        </th>
        <th class="border-2">
          <h1>Medicamento</h1>
          <div class="pb-3"></div>
          <mat-divider></mat-divider>
          <div class="pb-3"></div>
          <h2 class="font-normal">Captopril</h2>
          <div class="pb-3"></div>
          <mat-divider></mat-divider>
          <div class="pb-3"></div>
          <h2 class="font-normal">Amoxicilina</h2>
          <div class="pb-3"></div>
          <mat-divider></mat-divider>
          <div class="pb-3"></div>
          <h2 class="font-normal">Heparina</h2>
        </th>
        <th class="border-2">
          <h1>Cantidad diaria</h1>
          <div class="pb-3"></div>
          <mat-divider></mat-divider>
          <div class="pb-3"></div>
          <h2 class="font-normal">1</h2>
          <div class="pb-3"></div>
          <mat-divider></mat-divider>
          <div class="pb-3"></div>
          <h2 class="font-normal">2</h2>
          <div class="pb-3"></div>
          <mat-divider></mat-divider>
          <div class="pb-3"></div>
          <h2 class="font-normal">2</h2>
        </th>
        <th class="border-2">
          <h1>Dias</h1>
          <div class="pb-3"></div>
          <mat-divider></mat-divider>
          <div class="pb-3"></div>
          <h2 class="font-normal">365</h2>
          <div class="pb-3"></div>
          <mat-divider></mat-divider>
          <div class="pb-3"></div>
          <h2 class="font-normal">365</h2>
          <div class="pb-3"></div>
          <mat-divider></mat-divider>
          <div class="pb-3"></div>
          <h2 class="font-normal">365</h2>
        </th>
        <th class="align-top border-2">
          <div class="pb-3"></div>
          <h1>Indicación</h1>
          <div class="pb-3"></div>
          <mat-divider></mat-divider>
          <div class="pb-6"></div>
          <div class="pb-6"></div>
          <mat-divider></mat-divider>
          <div class="pb-3"></div>
          <h2 class="font-normal">Cada 12 horas</h2>
          <div class="pb-3"></div>
          <mat-divider></mat-divider>
          <div class="pb-3"></div>
          <h2 class="font-normal">Cada 12 horas</h2>
          <div class="pb-3"></div>
        </th>
      </tr>
    </table>
    <div class="pb-40"></div>
    </div>
    <div class="pb-10"></div>
</body>