<h1 mat-dialog-title class="text-center">Actualizar Medico</h1>
<div mat-dialog-content>  
  <form [formGroup]="medicalupdateform">
      <mat-form-field appearance="outline" class="w-96">
        <mat-label>Nombres</mat-label>
        <input matInput placeholder="Ingrese sus nombres" formControlName="name" required>
        <mat-error>Complete este campo es requerido!</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="w-96">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Ingrese sus apellidos" formControlName="lastname" required>
        <mat-error>Complete este campo es requerido!</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="w-96">
        <mat-label>Sexo</mat-label> <!--Combo Box-->
        <mat-select formControlName="gender">
          <mat-option value="M">M</mat-option>
          <mat-option value="F">F</mat-option>
        </mat-select>
        <mat-error>Complete este campo es requerido!</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="w-96">
        <mat-label>DNI</mat-label>
        <input matInput placeholder="Ingrese numero de DNI" formControlName="dni" required>
        <mat-error>Complete este campo es requerido!</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="w-96">
        <mat-label>Dirección</mat-label> 
        <input matInput placeholder="Ingrese su dirección" formControlName="address" required>
        <mat-error>Complete este campo es requerido!</mat-error>
      </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ingrese email" formControlName="email" required>
      <mat-error *ngIf="medicalupdateform.controls['email'].touched && medicalupdateform.controls['email'].hasError('required')">Complete este campo es requerido!</mat-error>
      <mat-error *ngIf="medicalupdateform.controls['email'].dirty && medicalupdateform.controls['email'].hasError('email')">Email invalido complete con un email!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Telefono</mat-label>
      <input matInput placeholder="Ingrese telefono" formControlName="phone" required>
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Ingrese nombre de usuario" formControlName="username" required>
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="w-96">
      <mat-label>Contraseña</mat-label>
      <input matInput placeholder="Ingrese contraseña" formControlName="password" required>
      <mat-error>Complete este campo es requerido!</mat-error>
    </mat-form-field>
    <br>
    
    <div class="text-center">
      <button [matDialogClose]="editdoctordata" class="bg-[#15558D] text-white" mat-raised-button [disabled]="medicalupdateform.invalid" (click)="Update()">Actualizar</button>
    </div>  
  </form>
</div>