<div class="grid place-items-center h-screen">
  <mat-card>
    <form [formGroup]="passwordform">
      <label>Introduce tu nueva Contraseña</label>
    <div>
      
      <mat-form-field  appearance="fill">
        <input matInput #input maxlength="20" placeholder="Ingrese Nueva Contraseña" formControlName="password" required [(ngModel)]="password">
        <mat-error *ngIf="passwordform.controls['password'].dirty && passwordform.hasError('required','password')">Campo requerido</mat-error>
        <mat-error *ngIf="passwordform.controls['password'].dirty && passwordform.hasError('minlength','password')">Minimo 8 caracteres</mat-error>

      </mat-form-field>

      <mat-form-field  appearance="fill">
        <input matInput #input maxlength="20" placeholder="Confirmar Contraseña Contraseña" formControlName="confirmpassword" required [(ngModel)]="confirmpassword">
        <mat-error *ngIf="passwordform.controls['confirmpassword'].dirty && passwordform.hasError('required','confirmpassword')">Campo requerido</mat-error>
        <mat-error *ngIf="passwordform.controls['confirmpassword'].dirty && passwordform.hasError('minlength','confirmpassword')">Minimo 8 caracteres</mat-error>
        <mat-error *ngIf="passwordform.controls['confirmpassword'].dirty && passwordform.hasError('isPassword()','confirmpassword')">Debe ser igual a la contraseña</mat-error>

      </mat-form-field>
    </div>
    <div>
       <button mat-raised-button color="primary" [disabled]="passwordform.invalid" (click)="ChangePassword()">Cambiar Contraseña</button>
    </div>
  </form>

  </mat-card>
</div>