<!DOCTYPE html>
<header>
  <mat-toolbar class="bg-white">
    <button (click)="GotoAttention()">
      <img src="../../assets/images/back-arrow-2.png" class="w-10 h-10">
    </button>
    <span class="pr-5"></span>
    <h1 class="text-slate-800">Clinica de salud</h1>
    <span class="flex-auto"></span>
    <h1 class="text-slate-800">MEDICINAS</h1>
    <span class="flex-auto"></span>
    <img src="../../assets/images/profile.png" class="w-10 h-10">
    <button>
      <img src="../../assets/images/options-arrow.png" class="w-20 h-12">
    </button>
    <div class="pr-5"></div>
</mat-toolbar>
</header>
<mat-divider class="bg-cyan-400"></mat-divider>
<body>
  <div class="pt-10"></div>
  <div class="text-[26px] italic text-right pr-10">
    Fecha: {{todaydate}}
  </div>
  <br>
  <br>
  <table class="ml-auto mr-auto">
  <div class="inline-flex">
    <h1 class="pt-5">Medicinas:</h1>
    <span class="pr-16"></span>
    <span class="pr-2"></span>
      <form [formGroup]="medicineform">
        <mat-form-field appearance="outline" class="w-96">
          <mat-label>Medicinas</mat-label>
          <mat-select formControlName="medicine" [(ngModel)]="objectmedicine.name">
            <mat-option *ngFor="let medicines of listmedicine" [value]="medicines.name">{{medicines.name}}</mat-option>
          </mat-select>
          <mat-error>Es requerido este campo!</mat-error>
        </mat-form-field>
      </form>
  </div>
  <br>
  <div class="inline-flex">
    <h1 class="pt-5">Frecuencia:</h1>
    <span class="pr-16"></span>
    <span class="pr-1"></span>
      <form [formGroup]="medicineform">
        <mat-form-field appearance="outline" class="w-96">
          <mat-label>Frecuencia</mat-label>
          <mat-select formControlName="frequency" [(ngModel)]="frecuencyselected">
            <mat-option *ngFor="let frequencies of listfrequency" [value]="frequencies">{{frequencies}}</mat-option>
          </mat-select>
          <mat-error>Es requerido este campo!</mat-error>
        </mat-form-field>
      </form>
  </div>
  <br>
  <div class="inline-flex">
    <h1 class="pt-5">Cantidad:</h1>
    <span class="pr-20"></span>
      <form [formGroup]="medicineform">
        <mat-form-field appearance="outline" class="w-96">
          <mat-label>Cantidad</mat-label>
          <input matInput type="number" formControlName="dose" placeholder="Ingrese su dosis" required [(ngModel)]="dosesselected">
          <mat-error>Es requerido este campo!</mat-error>
        </mat-form-field>
      </form>
  </div>
  <br>
  <br>
  <div class="text-right">
    <button mat-raised-button class="butonnchange bg-[#15558D] text-white" [disabled]="medicineform.invalid" (click)="PostMedicine()">Guardar</button>
  </div>
  </table>
</body>