


<mat-toolbar>

  <button (click)=" ReturnHome()">
    <img src="../../assets/images/back-arrow-bluewhite.png" class="w-5 md:w-10 h-5 md:h-10">
  </button>
  <span class="pr-5"></span>
  <p class="text-sm md:text-[26px] text-[#15558D] ">Clinica de salud</p>

  <span class="flex-auto"></span>
  <p class="text-xl md:text-[53px] flex justify-center">Vigilancia</p>


  <span class="example-spacer"></span>
  <button  
     mat-icon-button 
     (click)="findbyDNI()"   
     [disabled]="!validateDni()">
    <mat-icon  >search</mat-icon>  
  </button>
  
  <div class="pr-5"></div> 
  <input type="text" class="form-control 
  block   w-20 md:w-40 md:px-3
  py-1.5
  text-base
  font-normal
  text-gray-700
  bg-white bg-clip-padding
  border border-solid border-gray-900
  rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Ingrese su DNI" [formControl]="documentnumber"
  maxlength="8"> 
 
  <img src="../../assets/images/profile.png" class="w-5 md:w-10 h-8 md:h-10">
  <button>
    <img src="../../assets/images/options-arrow.png" class="w-6 md:w-12 h-8 md:h-10">
  </button>

</mat-toolbar>




<hr size="10" width="100%" color="#009EFB">
<span class="pr-5"></span>
<div class="flex justify-end">
   <p class="text-[26px]">Fecha: {{getfecha()}}</p>
</div>

      <div class="flex justify-center">
        <mat-card class="text-[26px] text-white italic bg-[#15558D] w-11/12">Datos</mat-card>
      
      </div>
      <div class="flex justify-center">
      <mat-card class="w-11/12">
      
        
        
          <div class="flex flex-col space-y-8">
          <div class="columns-3 md:columns-6">
        
             
           
             
            <b class="text-[20px]">Nombre:</b>
            <p class="text-[20px]">{{Patient.name}}</p>
               
             
              
                <b class="text-[20px]">Num.doc:</b>
                <p class="text-[20px]">{{Patient.documentNumber}}</p>
             
              

  
  
            
          </div>
  
  
          <div class="columns-3 md:columns-6">
        
            
             <b class="text-[20px]">Apellido:</b>
             <p class="text-[20px]">{{Patient.lastname}}</p>
            
  
            
              <b class="text-[20px]">Sexo:</b>
              <p class="text-[20px]">{{Patient.gender}}</p>
        
  
           
            
  
  
         </div>  
  
  
  
         <div class="columns-3 md:columns-6">
        
          
           <b class="text-[20px]">Tipo de doc:</b>
           <p class="text-[20px]">{{Patient.documentType}}</p>
         
  
         
            <b class="text-[20px]">Altura:</b>
            <p class="text-[20px]">{{checkheight(Patient.height)}}  </p>
        
  
         
          
  
  
         </div> 
          </div>
        
  

    


      </mat-card>
      </div>


      <div class="flex justify-center">
        <mat-card class="text-[26px] text-white italic bg-[#15558D] w-11/12">Calculate ktv</mat-card>
      </div>
        <div class="flex justify-center">
          <mat-card class="w-11/12">
            <form [formGroup]="vktform">

              <div class="flex flex-col space-y-8">
                <div class="columns-4 md:columns-8">

                  <b class="text-[20px]">initWeight:</b>
                  <div>
                  <input type="number" class="form-control
                  block w-full   px-3
                  py-1.5
                  text-base
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-900
                  rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
                  [(ngModel)]="CreateSurveillanceResource.initWeight"   formControlName="initWeight"  required>
                  </div>

                  <b class="text-[20px]">finalWeight:</b>
                  <div>
                  <input type="number" class="form-control
                  block w-full   px-3
                  py-1.5
                  text-base
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-900
                  rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
                  [(ngModel)]="CreateSurveillanceResource.finalWeight"   formControlName="finalWeight"  required>
                  </div>

                  <b class="text-[20px]">hdTime:</b>
                  <div>
                  <input type="number" class="form-control
                  block w-full   px-3
                  py-1.5
                  text-base
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-900
                  rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
                  [(ngModel)]="CreateSurveillanceResource.hdTime"   formControlName="hdTime"  required>
                  </div>

                  <b class="text-[20px]">uf:</b>
                  <div>
                    <input type="number" class="form-control
                    block w-full   px-3
                    py-1.5
                    text-base
                    font-normal
                    text-gray-700
                    bg-white bg-clip-padding
                    border border-solid border-gray-900
                    rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
                    [(ngModel)]="CreateSurveillanceResource.uf"   formControlName="uf"  required>
                    </div>




                </div>









              </div>


            </form>
            </mat-card>
        </div>
     

      <div class="flex justify-center">
        <mat-card class="text-[26px] text-white italic bg-[#15558D] w-11/12">Clinic</mat-card>
      
      </div>
      <div class="flex justify-center">
      <mat-card class="w-11/12">
        <form [formGroup]="Clinicform">
        <div class="flex flex-col space-y-8">

          <div class="columns-3 md:columns-6">
           
              <b class="text-[20px]">ureaPre:</b>
              <div>
              <input type="number" class="form-control
              block w-full   px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-900
              rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
              [(ngModel)]="CreateSurveillanceResource.ureaPre"   formControlName="ureaPre"  required>
              
              
              </div>
              <b class="text-[20px]">hematocrit:</b>
              
              <input type="number" class="form-control
              block w-full   px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-900
              rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
              [(ngModel)]="CreateSurveillanceResource.hematocrit"   formControlName="hematocrit"  required>
           
            
              <b class="text-[20px]">serumElectrolytes:</b>
              
              <input type="number" class="form-control
              block w-full   px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-900
              rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
              [(ngModel)]="CreateSurveillanceResource.serumElectrolytes"   formControlName="serumElectrolytes"  required>
         
          </div>
          <div class="flex space-x-4">
           
          </div>

          <div class="columns-3 md:columns-6">
            
            <b class="text-[20px]">chlorine:</b>
              
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.chlorine"   formControlName="chlorine"  required>
           
            
            <b class="text-[20px]">phosphorus:</b>
              
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.phosphorus"   formControlName="phosphorus"  required>
         
           
            <b class="text-[20px]">serumCalcium:</b>
              
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.serumCalcium"   formControlName="serumCalcium"  required>
        

          </div>
          <div class="flex space-x-4">
          
          </div>
          <div class="columns-3 md:columns-6">
            
            <b class="text-[20px]">protein<br>Electrophoresis:</b>
              
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.proteinElectrophoresis"   formControlName="proteinElectrophoresis"  required>
        
            <b class="text-[20px]">alkaline<br>Phosphatase:</b> 
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.alkalinePhosphatase"   formControlName="alkalinePhosphatase"  required>


            <b class="text-[20px]">tgo:</b> 
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.tgo"   formControlName="tgo"  required>

          </div>
          <div class="flex space-x-4">
           
          </div>
          <div class="columns-3 md:columns-6">
            <b class="text-[20px]">tgp:</b> 
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.tgp"   formControlName="tgp"  required>

            <b class="text-[20px]">dayCreatinine:</b> 
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.dayCreatinine"   formControlName="dayCreatinine"  required>
           

          </div>
          <div class="flex space-x-4">
           
          </div>
          <div class="columns-3 md:columns-6">

            <b class="text-[20px]">parathormone:</b> 
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.parathormone"   formControlName="parathormone"  required>

            <b class="text-[20px]">serumIron:</b> 
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.serumIron"   formControlName="serumIron"  required>
           

            <b class="text-[20px]">serumFerritin:</b> 
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.serumFerritin"   formControlName="serumFerritin"  required>


          </div>
          <div class="columns-3 md:columns-6">
            <b class="text-[20px]">transferrin<br>Saturation:</b> 
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.transferrinSaturation"   formControlName="transferrinSaturation"  required>
            <b class="text-[20px]">transferrin:</b> 
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.transferrin"   formControlName="transferrin"  required>
            
            <b class="text-[20px]">elisa:</b> 
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.elisa"   formControlName="elisa"  required>
          </div>
          <div class="columns-3 md:columns-6">
            <b class="text-[20px]">vdrlAndRpr:</b> 
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.vdrlAndRpr"   formControlName="vdrlAndRpr"  required>
            <b class="text-[20px]">hepatitisBAntigen:</b> 
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.hepatitisBAntigen"   formControlName="hepatitisBAntigen"  required>
            <b class="text-[20px]">hepatitisBAntibody:</b> 
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.hepatitisBAntibody"   formControlName="hepatitisBAntibody"  required>


          </div>
          <div class="columns-3 md:columns-6">

            <b class="text-[20px]">hepatitisCAntibody:</b> 
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.hepatitisCAntibody"   formControlName="hepatitisCAntibody"  required>
            <b class="text-[20px]">ktv:</b> 
            <input type="number" class="form-control
            block w-full   px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-900
            rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
            [(ngModel)]="CreateSurveillanceResource.ktv"   formControlName="ktv"  required>


          </div>
        </div>
        </form>
      </mat-card>
      </div>
      <div class="flex justify-center">
        <mat-card class="text-[26px] text-white italic bg-[#15558D] w-11/12">Shared</mat-card>
      
      </div>
      
     <div class="flex justify-center">
      <mat-card class="w-11/12">
        <form [formGroup]="Sharedform">
        <div class="flex flex-col space-y-8">
          <div class="columns-3 md:columns-6">
           
              <b class="text-[20px]">bloodUrea:</b>
              <input type="number" class="form-control
              block w-full   px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-900
              rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
              [(ngModel)]="CreateSurveillanceResource.bloodUrea"   formControlName="bloodUrea"  required>
           
            
              <b class="text-[20px]">serumCreatinine:</b>
              <input type="number" class="form-control
              block w-full   px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-900
              rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
              [(ngModel)]="CreateSurveillanceResource.serumCreatinine"   formControlName="serumCreatinine"  required>
           
            
              <b class="text-[20px]">hemoglobin:</b>
              <input type="number" class="form-control
              block w-full   px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-900
              rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
              [(ngModel)]="CreateSurveillanceResource.hemoglobin"   formControlName="hemoglobin"  required>
         
          </div>
          <div class="flex space-x-4">
           
          </div>
          <div class="columns-3 md:columns-6">
            
              <b class="text-[20px]">sodium:</b>
              <input type="number" class="form-control
              block w-full   px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-900
              rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
              [(ngModel)]="CreateSurveillanceResource.sodium"   formControlName="sodium"  required>
           
            
              <b class="text-[20px]">potassium:</b>
              <input type="number" class="form-control
              block w-full   px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-900
              rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
              [(ngModel)]="CreateSurveillanceResource.potassium"   formControlName="potassium"  required>
         
           
              <b class="text-[20px]">albumin:</b>
              <input type="number" class="form-control
              block w-full   px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-900
              rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
              [(ngModel)]="CreateSurveillanceResource.albumin"   formControlName="albumin"  required>
        

          </div>
          
        </div>
      </form>
      </mat-card>
    </div>
    <div class="flex justify-center">
      <mat-card class="text-[26px] text-white italic bg-[#15558D] w-11/12">Prediction</mat-card>
    
    </div>
     
    <div class="flex justify-center">
      <mat-card  class="w-11/12">
        <form [formGroup]="Predictionform">
            <div class="flex flex-col space-y-8">
        <div class="columns-3 md:columns-6">
  
          <b class="text-[20px]">bloodPressure:</b>
          <input type="number" class="form-control
          block w-full   px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-900
          rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
          [(ngModel)]="CreateSurveillanceResource.bloodPressure"   formControlName="bloodPressure"  required>
  
          <b class="text-[20px]">specificGravity:</b>
          
          <input type="number" class="form-control
          block w-full   px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-900
          rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
          [(ngModel)]="CreateSurveillanceResource.specificGravity"   formControlName="specificGravity"  required>


          <b class="text-[20px]">sugar:</b>
          
          <input type="number" class="form-control
          block w-full   px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-900
          rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
          [(ngModel)]="CreateSurveillanceResource.sugar"   formControlName="sugar"  required>



        </div>


        <div class="flex space-x-4">
        
        </div>
        <div class="columns-3 md:columns-6">
          <b class="text-[20px]">redBloodCells:</b>
         <input type="number" class="form-control
          block w-full   px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-900
          rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
          [(ngModel)]="CreateSurveillanceResource.redBloodCells"   formControlName="redBloodCells"  required>
          <b class="text-[20px]">pusCells:</b>
          <input type="number" class="form-control
          block w-full   px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-900
          rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
          [(ngModel)]="CreateSurveillanceResource.pusCells"   formControlName="pusCells"  required>
          <b class="text-[20px]">pusCellClumps:</b>
          <input type="number" class="form-control
          block w-full   px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-900
          rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
          [(ngModel)]="CreateSurveillanceResource.pusCellClumps"   formControlName="pusCellClumps"  required>
         
  
        </div>
        <div class="flex space-x-4">
        
        </div>
        <div class="columns-3 md:columns-6">
          <b class="text-[20px]">bacteria:</b>
          <input type="number" class="form-control
          block w-full   px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-900
          rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
          [(ngModel)]="CreateSurveillanceResource.bacteria"   formControlName="bacteria" required>
        
          <b class="text-[20px]">bloodGlucose<br> Random:</b>
          
          <input type="number" class="form-control
          block w-full   px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-900
          rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
          [(ngModel)]="CreateSurveillanceResource.bloodGlucoseRandom"   formControlName="bloodGlucoseRandom" min="0" required>
          <b class="text-[20px]">packedCellVolume:</b>
          <input type="number" class="form-control
          block w-full   px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-900
          rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
          [(ngModel)]="CreateSurveillanceResource.packedCellVolume"   formControlName="packedCellVolume" min="0" required>
         
  
        </div>
        <div class="flex space-x-4">
       
        </div>
        <div class="columns-3 md:columns-6">

          <b class="text-[20px]">whiteBloodCell<br>Count:</b>
          <input type="number" class="form-control
          block w-full   px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-900
          rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
          [(ngModel)]="CreateSurveillanceResource.whiteBloodCellCount"   formControlName="whiteBloodCellCount" min="0" required>
          <b class="text-[20px]">redBloodCell<br>Count:</b>
          <input type="number" class="form-control
          block w-full   px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-900
          rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
          [(ngModel)]="CreateSurveillanceResource.redBloodCellCount"   formControlName="redBloodCellCount" min="0" required>
          <b class="text-[20px]">appetite:</b>
          <input type="number" class="form-control
          block w-full   px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-900
          rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
          [(ngModel)]="CreateSurveillanceResource.appetite"   formControlName="appetite" min="0" required>




          
        </div>
        <div class="columns-2 md:columns-6">

          <b class="text-[20px]">pedalEdema:</b>
          <input type="number" class="form-control
          block w-full   px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-900
          rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
          [(ngModel)]="CreateSurveillanceResource.pedalEdema"   formControlName="pedalEdema" min="0" required>




        </div>



        </div>
        </form>
            
       </mat-card>
    </div>
    <div class="flex justify-center">
      <mat-card class="text-[26px] text-white italic bg-[#15558D] w-11/12">Legacy</mat-card>
    </div>
    <div class="flex justify-center">

      <mat-card  class="w-11/12">
        <form [formGroup]="Legacyform">
          <div class="flex flex-col space-y-8">
            <div class="columns-3 md:columns-6">

              <b class="text-[20px]">planCalories:</b>
              <input type="number" class="form-control
              block w-full   px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-900
              rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
              [(ngModel)]="CreateSurveillanceResource.planCalories"   formControlName="planCalories" min="0" required>
              <b class="text-[20px]">consumedCalories:</b>
              <input type="number" class="form-control
              block w-full   px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-900
              rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
              [(ngModel)]="CreateSurveillanceResource.consumedCalories"   formControlName="consumedCalories" min="0" required>
              <b class="text-[20px]">imc:</b>
              <input type="number" class="form-control
              block w-full   px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-900
              rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
              [(ngModel)]="CreateSurveillanceResource.imc"   formControlName="imc" min="0" required>




            </div>
            <div class="columns-2 md:columns-6">
              <b class="text-[20px]">pain:</b>
              <input type="text" class="form-control
              block w-full   px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-900
              rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
              [(ngModel)]="CreateSurveillanceResource.pain"   formControlName="pain"  required>
              <b class="text-[20px]">otherSymptoms:</b>
              <input type="text" class="form-control
              block w-full   px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-900
              rounded focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
              [(ngModel)]="CreateSurveillanceResource.otherSymptoms"   formControlName="otherSymptoms"  required>
            </div>



          </div>


        </form>


      </mat-card>




    </div>




    <div class="flex justify-center">
    <mat-card class="w-11/12">
      <div class="flex  justify-center ">
        <button mat-flat-button class="bg-[#15558D] text-white"  type="submit" [disabled]="!CanSave()"  (click)="onSubmit()">Guardar</button>
      </div>

    
    </mat-card>
    
    </div>
    <div class="flex  justify-center ">
    <mat-card class="w-11/12">
      <div class="flex  justify-center ">
         <input #fileUpload [accept]="'.csv'" type="file" class="file-input" 
          (change)="importDataFromCSVByType($event)" hidden="true">
           <button mat-flat-button class="bg-[#15558D] text-white" (click)="fileUpload.click()"> Import from csv</button> 
           <br><br>
      </div>
    </mat-card>
    </div>
    <div class="flex justify-center">
      <mat-card class="w-11/12">
        <div class="flex  justify-center ">
          <button mat-flat-button class="bg-[#15558D] text-white"  type="submit" [disabled]="!validatecsv"  (click)="save()">Guardar CSV</button>
        </div>
  
      
      </mat-card>
      
      </div>
  
     



    
     